<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>About Rohanth's Blog</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
        }

        .navbar {
            position: fixed;
            width: 100%;
            background-color: #000000;
            color: #ffffff;
            text-align: center;
            padding: 15px 0;
            z-index: 1000;
            top: 0; 
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            margin-top: 70px;
            
        }

        h2 {
            margin-top: 20px;
            color: #343a40;
        }

        .about-content {
            background-color: #f2f1f1;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            margin-bottom: 20px;
            padding: 20px;
        }

        p {
            color: #555555;
            line-height: 1.6;
        }

        .logo {
            margin: 0;
            padding: 0;
            font-family: 'Montserrat', sans-serif;
            font-size: 32px !important;
            color: #ffffff;
            text-decoration: none;
            position: fixed;
            width: 100%;
            top: 0;
        }
    </style>
</head>
<body>
    <div class="logo">ROHANTH's BLOGGING WEBSITE</div>
    <nav class="navbar navbar-dark bg-dark">
            <a href="/">Home</a>
            <a href="/create">Create Blog   </a>
            <a href="/contact">Contact</a>
            <a href="/about">About</a>
    </nav>

    <div class="container">
        <h2>About Rohanth's Blog</h2>

        <div class="about-content">
            <p>Welcome to Rohanth's Blog, a platform dedicated to sharing insightful and engaging blog posts. Our mission is to provide a space for individuals to express their thoughts, ideas, and experiences in a meaningful way.</p>

            <p>Whether you are a seasoned writer or a newcomer to the blogging world, Rohanth's Blog welcomes you to contribute and explore a diverse range of topics. From technology and science to lifestyle and personal stories, our platform encourages creativity and knowledge sharing.</p>

            <p>Our user-friendly interface allows you to seamlessly create and publish your blog posts. Connect with a community of like-minded individuals, read captivating content, and make your mark in the blogosphere.</p>

            <p>Thank you for being a part of Rohanth's Blog. We value your contributions and look forward to fostering a vibrant and inspiring community.</p>
        </div>
    </div>

    <script src="/scripts.js"></script>
</body>
</html>
